body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FAF5DC;
}
@font-face {
  font-family: 'Gaegu';
  src: local('gaegu'), url(./fonts/Gaegu/Gaegu-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'GaeguBold';
  src: local('gaegu'), url(./fonts/Gaegu/Gaegu-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Vibur';
  src: local('vibur'), url(./fonts/Vibur/Vibur-Regular.ttf) format('truetype');
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
